@model IEnumerable<Link>

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">


<table class="table table-bordered text-center" style="max-block-size:fit-content">
    <thead>
        <tr class="row col-12 text-secondary">
            <th td class="col-4 ">
                @Html.DisplayNameFor(model => model.LongURL)
            </th>
            <th class="col-2">
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th class="col-2">
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th class="col-2">
                @Html.DisplayNameFor(model => model.CountTransitions)
            </th>
            <th class="col-2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="row col-12">
                <td class="col-4 navbar-nav-scroll ">
                    <a class="text-secondary" href=" @Html.DisplayFor(modelItem => item.LongURL)" target="_blank"> @Html.DisplayFor(modelItem => item.LongURL)</a>
                </td>
                <td class="col-2 navbar-nav-scroll">
                    <a class="text-secondary" href="@Html.DisplayFor(modelItem => item.Url)" target="_blank">@Html.DisplayFor(modelItem => item.Url)</a>
                </td>
                <td class="col-2">
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td class="col-2">
                    @Html.DisplayFor(modelItem => item.CountTransitions)
                </td>
                <td class="col-2 ">
                    <div class="btn-group">
                        <div class="row col-12">
                            <div class="col-4">
                                <a asp-action="Edit" asp-route-id="@item.Id">
                                    <span class="btn btn-sm btn-outline-secondary">
                                        <i class="fa fa-edit fs-4" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="col-4">
                                <a asp-action="Details" asp-route-id="@item.Id">
                                    <span class="btn btn-sm btn-outline-secondary">
                                        <i class="fa fa-eye fs-4" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="col-4">
                                <a asp-action="Delete" asp-route-id="@item.Id">
                                    <span class="btn btn-sm btn-outline-secondary">
                                        <i class="fa fa-trash fs-4" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>